.background {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.container {
  position: relative;
  max-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
}

.btn-center {
  width: 150px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.heading-center {
  margin: 30px auto;
}