.background {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.container {
  max-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
}

.btn-center {
  width: 150px;
  margin: 20px auto;
}

.heading-center {
  margin: 30px auto;
}